body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* Ugly hack to  remove the info icon in the bottom right
    TODO: Move it instead so it's not against the ToS.
*/
.leaflet-control-attribution{
    display:none;
}