body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index:2;
}

footer {
    z-index: 3;
    padding-top: 20px;
    color: #fff;
    text-shadow: 2px 2px #3d3d3d;
}

.v-align-middle {
    vertical-align: middle;
}

.overlay{
    background-color: rgba(69, 69, 69, 0.6);
    padding: 5px 10px;
    border-radius: 10px;
}

/* Ugly hack to  remove the info icon in the bottom right
    TODO: Move it instead so it's not against the ToS.
*/
.leaflet-control-attribution {
    display: none;
}

.menu-ui {
    background: #fff;
    position: absolute;
    top: 100px;
    left: 10px;
    z-index: 1;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.menu-ui a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

.menu-ui a:first-child {
    border-radius: 3px 3px 0 0;
}

.menu-ui a:last-child {
    border: none;
    border-radius: 0 0 3px 3px;
}

.menu-ui a:hover {
    background: #f8f8f8;
    color: #404040;
    cursor: pointer !important;
}

.menu-ui a.active,
.menu-ui a.active:hover {
    background: #3887BE;
    color: #FFF;
}

.inline-icon {
    vertical-align: bottom;
    font-size: 30px !important;
}

.margin-left {
    margin-left: 15px !important;
}

.margin-right {
    margin-right: 15px !important;
}

/* Make cluster groups count text more visible on the map */
.marker-cluster span {
    font-weight: bold;
    font-size: 14px;
}

#languageControlsContainer > a{
    padding:0 2px;
    box-sizing: border-box;
}

#languageControlsContainer > a.active > img{
    border:2px solid yellow;
}